numpy 
pandas
torch
tensorboard
matplotlib
scikit-learn
gensim
nltk
datasets
transformers
evaluate
sentencepiece
accelerate
dvc
pytest
fastapi
flask
gunicorn
black
flake8
mypy 
ruff
black[jupyter]
dvc